@font-face {
    font-family: bosch;
    src: url(../fonts/Neology\ Bold.woff.ttf);
}


.containerPrincipal {
margin: 120px 0 0 0;
height: 90%;
margin-inline: 70px;
}

.navPrincipal {
height: 80px;
width: 100%;
}

/* Formulario */
.tamlogin{
    font-family: bosch;
    font-size:  60px;
    margin-top:  20px;
    margin-bottom: 20px;
}

.textos{
    margin-top: 40px;
}